# Here i want to extract from lichess data features important for future modeling

So here i want to get data in format similar to that: 

columns = ( date, amount of mathes played in that date,ammont of matches played day earllier , amount of matches plyed for previous mounth, ranikng points fluctuation (day vs day before), ranking after last match that day, mean oponent vs my ranking diff that day ) and maybe some other columns that i will consider as important for ranking changes prediction. --> df2

And all of those for different times control (blitz, rapid, bullet)

and other data for winner prediction models, similar columns as without any chnages but some new cols like: time used in game, time for move and maybe some other --> df1

# To Be Continued

In [2]:
import pandas as pd
import numpy as np
import arrow
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("Chess_data_basic.csv", index_col = "Unnamed: 0")

In [5]:
df.head(2)

,id,rated,variant,speed,createdAt,lastMoveAt,status,winner,moves,clock,movesperplayer,white_player_name,white_ranking,black_player_name,black_ranking
0,O83cQxfo,True,standard,blitz,2023-06-28 02:33:43.673000+02:00,2023-06-28 02:44:00.722000+02:00,outoftime,white,e4 e5 Nf3 Nc6 Bc4 Nf6 d4 exd4 e5 d5 exd6 Qxd6 ...,300,70,EvilSaintPL,1753,Leosammie,1735
1,KeBcqcHz,True,standard,blitz,2023-06-28 02:31:45.081000+02:00,2023-06-28 02:33:30.178000+02:00,resign,white,Nf3 Nc6 g3 e5 Bg2 e4 Ng1 d5 d3 f5 dxe4 fxe4 Nc...,300,18,convict-19,1801,EvilSaintPL,1758

In [6]:
def convert_date_with_offset(date_str):
    return arrow.get(date_str).datetime
df['createdAt'] = df['createdAt'].apply(convert_date_with_offset)
df['lastMoveAt'] = df['lastMoveAt'].apply(convert_date_with_offset)
df["Gametime"]= df["lastMoveAt"]-df["createdAt"]
df['Gametime'] = pd.to_timedelta(df['Gametime'])
df['Gametime'] = df['Gametime'].dt.total_seconds().apply(lambda x: round(x, 1))
df['timepermove']=(df['Gametime']/df["movesperplayer"]).apply(lambda x: round(x, 1))

next think to do is taking insight from moves column, there is a lot of possibility but i will concentrate on:
1) cheking if side castle and if long or short castle
2) taking number of moves before castle ( if no castle - values set to number of moves +1 )
3) groping by opening (for this project i will take in count only first 6 moves - 3 moves per side )
4) number of checks in first 10 moves ( per side )

In [7]:
df = df.dropna()

# Checking for side castle

kingside castle ( short ) is O-O in moves notation and queenside castle ( long ) is O-O-O

In [8]:
pd.options.mode.chained_assignment = None

In [9]:
df["moves"] = df["moves"].str.split(" ")
df["white_moves"]=df["moves"].apply(lambda x: x[::2])
df["black_moves"]=df["moves"].apply(lambda x: x[1::2])

In [10]:
df["white_kingcastle"] = df["white_moves"].apply(lambda x: 1 if "O-O" in x else 0)
df["white_queencastle"] = df["white_moves"].apply(lambda x: 1 if "O-O-O" in x else 0)
df["black_kingcastle"] = df["black_moves"].apply(lambda x: 1 if "O-O" in x else 0)
df["black_queencastle"] = df["black_moves"].apply(lambda x: 1 if "O-O-O" in x else 0)

# num of moves before castle

In [11]:
def find_index_of_first_occurrence(lst):
    elements = ["O-O", "O-O-O"]
    for element in elements:
        if element in lst:
            return lst.index(element)
    return len(lst) + 1
df["White_moves_before_castle"] = df["white_moves"].apply(find_index_of_first_occurrence)
df["Black_moves_before_castle"] = df["black_moves"].apply(find_index_of_first_occurrence)

In [27]:
df.head(3)

,id,rated,variant,speed,createdAt,lastMoveAt,status,winner,moves,clock,movesperplayer,white_player_name,white_ranking,black_player_name,black_ranking,Gametime,timepermove,white_moves,black_moves,white_kingcastle,white_queencastle,black_kingcastle,black_queencastle,White_moves_before_castle,Black_moves_before_castle,open6
0,O83cQxfo,True,standard,blitz,2023-06-28 02:33:43.673000+02:00,2023-06-28 02:44:00.722000+02:00,outoftime,white,"[e4, e5, Nf3, Nc6, Bc4, Nf6, d4, exd4, e5, d5,...",300,70,EvilSaintPL,1753,Leosammie,1735,617.0,8.8,"[e4, Nf3, Bc4, d4, e5, exd6, O-O, Na3, Nb5, Nb...","[e5, Nc6, Nf6, exd4, d5, Qxd6, Be7, Bg4, Qd7, ...",1,0,0,0,6,71,e4 e5 Nf3 Nc6 Bc4
1,KeBcqcHz,True,standard,blitz,2023-06-28 02:31:45.081000+02:00,2023-06-28 02:33:30.178000+02:00,resign,white,"[Nf3, Nc6, g3, e5, Bg2, e4, Ng1, d5, d3, f5, d...",300,18,convict-19,1801,EvilSaintPL,1758,105.1,5.8,"[Nf3, g3, Bg2, Ng1, d3, dxe4, Nc3, Bg5, Bxf6, ...","[Nc6, e5, e4, d5, f5, fxe4, Nf6, Be7, Bxf6, Qx...",1,0,0,1,17,14,Nf3 Nc6 g3 e5 Bg2
2,hDXG2PXc,True,standard,blitz,2023-06-26 00:04:39.921000+02:00,2023-06-26 00:07:33.812000+02:00,resign,white,"[e4, e5, Nc3, Nf6, Nf3, Nc6, d4, exd4, Nxd4, N...",300,15,Gabaz,1790,EvilSaintPL,1764,173.9,11.6,"[e4, Nc3, Nf3, d4, Nxd4, Qxd4, Bg5, Bh4, Qe3, ...","[e5, Nf6, Nc6, exd4, Nxd4, Qe7, h6, c5, d5, Bd...",0,1,0,0,12,16,e4 e5 Nc3 Nf6 Nf3

Grouping by opening

In [13]:
df["open6"] = df["moves"].apply(lambda x: x[:5])
df["open6"] = df["open6"].apply(lambda x: " ".join(x))

In [20]:
white_opens = df[df['white_player_name'] == 'EvilSaintPL']["open6"].value_counts().head(10)
black_opens = df[df['black_player_name'] == 'EvilSaintPL']["open6"].value_counts().head(10)

In [21]:
black_opens

open6
e4 e6 Nf3 d5 exd5    148
e4 e5 Nf3 Nc6 Bc4    145
e4 e6 d4 d5 e5       137
e4 e5 Nf3 Nc6 Bb5     86
d4 d5 c4 c6 Nc3       76
e4 e6 Nf3 d5 e5       67
e4 e5 Nf3 Nc6 d4      55
e4 e6 d4 d5 exd5      53
e4 e5 Nf3 Nc6 Nc3     44
d4 Nf6 c4 e6 Nc3      41
Name: count, dtype: int64

In [25]:
white_opens.index

Index(['e4 e5 Nf3 Nc6 Bc4', 'e4 e5 Nf3 Nf6 Nxe5', 'e4 d5 exd5 Qxd5 Nc3',
       'e4 e5 Nf3 d6 Bc4', 'e4 e5 Nf3 Nc6 Bb5', 'e4 c5 Nf3 Nc6 c3',
       'e4 e5 Nc3 Nc6 Bc4', 'e4 e6 d4 d5 exd5', 'e4 e5 Nf3 d6 d4',
       'e4 e5 Nc3 Nf6 Bc4'],
      dtype='object', name='open6')

In [26]:
def openings( moves, white_name):
    if white_name=="EvilSaintPL":
        if moves in white_opens.index:
            return "White" + moves
        else: 
            return 0
    else:
        if moves in black_opens.index:
            return "Black" + moves
        else:
            return 0

In [48]:
def white_open( moves):
    if moves in white_opens:

SyntaxError: incomplete input (1547598540.py, line 1)

In [47]:
df[df["white_player_name"]=="EvilSaintPL"]["open6"].apply(lambda x: print(x[1]))

Nf3 Nc6 g3 e5 Bg2
convict-19

open6                None
white_player_name    None
dtype: object